:root {
  --primary-color: skyblue;
  --secondary-color: black;
  --tertiary-color: silver;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    color: var(--primary-color)
    font-family: Helvetica, Arial, sans-sarif;
}


/* Header Styles */
header {
    padding: 20px 35px;
    background-color: var(--tertiary-color);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    top: 0
}

header h1 {
    font-weight: bold;
    margin: 0;
    font-size: 36px;
    color: var(--secondary-color);
  }
  
  header a {
    text-decoration: none;
    color: var(--secondary-color);
  }
  
  header nav {
    margin: 7px 0;
  }
  
  header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
  }

  header nav ul li a {
    padding: 10px 15px;
    font-weight: lighter;
    font-size: 1.55vw;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  }
  
  Header nav ul li a:hover {
    background: var(--primary-color);
    color: var(--secondary-color);
    border-radius: 15px;
    text-shadow: none;
  }
  /* Header Styles End */


  /* Footer Styles */
  footer {
    background: var(--primary-color);
    padding: 40px 35px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
  }
  
  footer h2 {
    color: var(--secondary-color);
    font-size: 30px;
    margin: 0;
  }
  
  footer div {
    line-height: 1.5;
    text-align: right;
  }
  
  footer a {
    color: var(--secondary-color);
  }
  /* End Footer Styles */


  /* Hero Styles */
  .hero {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: flex-start;
    margin: 30px auto 30px auto;
  }
/* Hero Styles End */


/* Section Title Styles */
.section-title {
    font-size: 25px;
    border-bottom: 3px solid;
    color: var(--secondary-color);
    padding-bottom: 5px;
    text-align: center;
    margin: 0 auto 15px auto;
    width: 50%;
  }
  /* Section Title Styles End */


  /* About Me Styles */
  .about-me p {
    line-height: 1.7;
    color: var(--secondary-color);
    width: 80%;
    margin: 0 auto 30px auto;
    font-size: 20px;
    text-align: center;
  }
  /* About Me Styles End */


  /* Work Styles */
  .rb {
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .horiseon-baseball {
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .football-hockey {
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  
  .project {
    margin: 20px;
    flex: 1;
    background: var(--secondary-color);
    color: var(--primary-color);
  }
  
  .project img {
    width: 100%;
  }
  
  .project-description {
    padding: 25px;
    line-height: 1.3;
  }
  
  .project-description h3 {
    font-size: 28px;
  }
  
  .project-description h4 {
    font-weight: lighter;
    font-size: 22px;
    margin-bottom: 15px;
  }
/* Work Styles End */


/* Contact Me Styles */
/* REACH OUT STYLES START */
.contact-info {
    background: var(--secondary-color);
  }
  
  .contact-info h3 {
    color: var(--tertiary-color);
  }

  .contact-links {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 25 auto 25 auto;
  }

  .contact-links h4 {
    color: var(--primary-color);
    font-size: 40px;
  }

/* resizing for 980px */
@media screen and (max-width: 980px) {
  
    header {
      padding-bottom: 0;
      justify-content: center;
      position: relative;
    }
  
    header h1 {
      width: 100%;
      text-align: center;
    }
  
    header nav ul {
      margin-top: 20px;
      width: 100%;
      justify-content: center;
    }
  
    header nav ul li a {
      font-size: 20px;
    }
  
    footer {
      text-align: center;
      width: 100%;
    }
  
    .section-title {
      width: 80%;
    }
  
    .project {
      flex: 0 70%;
    }
  
  
  /* resizing for 768px */
  @media screen and (max-width: 768px) {
    section {
      padding: 30px 15px;
    }
  
  /* resizing for 575px */
  @media screen and (max-width: 575px) {
  
    .section-title {
      width: 95%;
    }
  
    .about-me p {
      width: 100%;
    }
  
    .project {
      flex: 0 100%;
    }
  
    .contact-info {
      text-align: center;
    }